%ul.list-group{id: 'alphabetical'}
  - @restaurants['alphabetical'].each do |restaurant|
    %a.list-group-item{:href => 'restaurants/' + restaurant.id.to_s, :class => "#{restaurant.area.downcase}"}
      .title
        %h4= restaurant.name
        - if restaurant.accepts_dinex
          %span.badge.small-badge.pull-right.payment  Dinex
        - if restaurant.accepts_cash
          %span.badge.small-badge.pull-right.payment Cash
        - if restaurant.accepts_credit
          %span.badge.small-badge.pull-right.payment  Credit
        - if restaurant.accepts_plaid_cash
          %span.badge.small-badge.pull-right.payment  Plaid Cash
        %p= restaurant.address_short
        - if current_user.latitude && current_user.longitude
          %div= restaurant.distance(current_user.latitude, current_user.longitude).round(2).to_s + " Miles"
        %span.badge= restaurant.cuisine
        %span
          %h5= '$' * restaurant.price
        %br
        %span.glyphicon.glyphicon-star.glyphicon-star-full
        %span.glyphicon.glyphicon-star.glyphicon-star-full
        %span.glyphicon.glyphicon-star.glyphicon-star-full
        %span.glyphicon.glyphicon-star.glyphicon-star-empty
        %span.glyphicon.glyphicon-star.glyphicon-star-empty
        - if restaurant
          %span.badge.pull-right.small-badge.time.open
            open now 
        - else
          %span.badge.glyphicon.glyphicon-time.pull-right.small-badge.time.closed
            closed
        %span.badge.glyphicon.glyphicon-time.pull-right.small-badge.time 10min
        %span.badge.glyphicon.glyphicon-user.pull-right.small-badge.time= restaurant.get_checked_in_users.size
    %a= link_to "Check In", add_check_in_path(current_user, :user => {:location => restaurant.id}), :method => :patch, class: "btn btn-primary btn-warning btn-xs check-in"
%ul.list-group{id: 'price'}
  - @restaurants['price'].each do |restaurant|
    %a.list-group-item{:href => 'restaurants/' + restaurant.id.to_s, :class => "#{restaurant.area.downcase}"}
      .title
        %h4= restaurant.name
        - if restaurant.accepts_dinex
          %span.badge.small-badge.pull-right.payment  Dinex
        - if restaurant.accepts_cash
          %span.badge.small-badge.pull-right.payment Cash
        - if restaurant.accepts_credit
          %span.badge.small-badge.pull-right.payment  Credit
        - if restaurant.accepts_plaid_cash
          %span.badge.small-badge.pull-right.payment  Plaid Cash
        %p= restaurant.address_short
        - if current_user.latitude && current_user.longitude
          %div= restaurant.distance(current_user.latitude, current_user.longitude).round(2).to_s + " Miles"
        %span.badge= restaurant.cuisine
        %span
          %h5= '$' * restaurant.price
        %br
        %span.glyphicon.glyphicon-star.glyphicon-star-full
        %span.glyphicon.glyphicon-star.glyphicon-star-full
        %span.glyphicon.glyphicon-star.glyphicon-star-full
        %span.glyphicon.glyphicon-star.glyphicon-star-empty
        %span.glyphicon.glyphicon-star.glyphicon-star-empty
        - if restaurant
          %span.badge.pull-right.small-badge.time
            Open Now
        - else
          %span.badge.glyphicon.glyphicon-time.pull-right.small-badge.time
            Closed
        %span.badge.glyphicon.glyphicon-time.pull-right.small-badge.time 10min
        %span.badge.glyphicon.glyphicon-user.pull-right.small-badge.time= restaurant.get_checked_in_users.size
    %a= link_to "Check In", add_check_in_path(current_user, :user => {:location => restaurant.id}), :method => :patch, class: "btn btn-primary btn-warning btn-xs check-in"
%ul.list-group{id: 'distance'}
  - @restaurants['by_distance'].each do |restaurant|
    %a.list-group-item{:href => 'restaurants/' + restaurant.id.to_s, :class => "#{restaurant.area.downcase}"}
      .title
        %h4= restaurant.name
        - if restaurant.accepts_dinex
          %span.badge.small-badge.pull-right.payment  Dinex
        - if restaurant.accepts_cash
          %span.badge.small-badge.pull-right.payment Cash
        - if restaurant.accepts_credit
          %span.badge.small-badge.pull-right.payment  Credit
        - if restaurant.accepts_plaid_cash
          %span.badge.small-badge.pull-right.payment  Plaid Cash
        %p= restaurant.address_short
        - if current_user.latitude && current_user.longitude
          %div= restaurant.distance(current_user.latitude, current_user.longitude).round(2).to_s + " Miles"
        %span.badge= restaurant.cuisine
        %span
          %h5= '$' * restaurant.price
        %br
        %span.glyphicon.glyphicon-star.glyphicon-star-full
        %span.glyphicon.glyphicon-star.glyphicon-star-full
        %span.glyphicon.glyphicon-star.glyphicon-star-full
        %span.glyphicon.glyphicon-star.glyphicon-star-empty
        %span.glyphicon.glyphicon-star.glyphicon-star-empty
        - if restaurant
          %span.badge.pull-right.small-badge.time
            Open Now
        - else
          %span.badge.glyphicon.glyphicon-time.pull-right.small-badge.time
            Closed
        %span.badge.glyphicon.glyphicon-time.pull-right.small-badge.time 10min
        %span.badge.glyphicon.glyphicon-user.pull-right.small-badge.time= restaurant.get_checked_in_users.size
    %a= link_to "Check In", add_check_in_path(current_user, :user => {:location => restaurant.id}), :method => :patch, class: "btn btn-primary btn-warning btn-xs check-in"
