!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title W2E
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", rel: "stylesheet"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
  %body
    #user{"data-id" => current_user.id}
    #updateDiv
    %ul.nav.nav-tabs{style: "padding-top: 50px;"}
      %li.active
        %a{"data-toggle" => "tab", href: "#list", "data-number" => "1"} List
      %li
        %a{"data-toggle" => "tab", href: "#map", "data-number" => "2"} Map
      %li
        %a{"data-toggle" => "tab", href: "#feed", "data-number" => "3"} Feed
    #myTabContent.tab-content
      #list.tab-pane.fade.active.in
        =render 'home_filters'
        #viewport
          =render 'home_restaurants'

      #map.tab-pane.fade
        =render 'home_filters'
      #feed.tap-pane.fade
        #viewport
          =render 'home_feed'
    %div
      #map-canvas

      %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}