%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
%link{href: "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", rel: "stylesheet"}/
.container{:id => "text"}
  .row
    %div{:id => "picture"}
  .row{:id => "restaurantintro"}
    .col-sm-5
      %h5{:id => "name"}
        = @restaurant.name
      %span#rating
        %span.glyphicon.glyphicon-star.glyphicon-star-full
        %span.glyphicon.glyphicon-star.glyphicon-star-full
        %span.glyphicon.glyphicon-star.glyphicon-star-full
      %br
        %h5{:id => "restaurantopen"}
          -if !@restaurant.business_hours.nil?
            -if @restaurant.is_open?
              %span.label.label-success
                open now
            -else
              %span.label.label-danger
                closed
          %span.label.label-default{:id => "description"}
            = @restaurant.cuisine
          %span.price
            = '$' * @restaurant.price
          %br
          .row{:id => "restaurantaddress"}
            %span.glyphicon.glyphicon-map-marker
            %h5
              = @restaurant.address_short


      / = @restaurant.is_open?
      / -if @restaurant.is_open?
      /   = "Currently OPEN"
      / -else
      /   = "Currently CLOSED"
  .row
    .col-xs-12
      /%div#line-separator
      %div#map-small{style: 'background-image: url("'+@restaurant.create_map_link+'");'}

  .row.row-centered
    .col-centered
      %a{:href => new_restaurant_review_path(:restaurant_id => @restaurant), :class => "button btn btm-primary btn-sm btn-warning btn-review"}
        Add Review
    = render 'reviews' unless @restaurant.restaurant_reviews.empty?
