span.glyphicon.glyphicon-star-empty {
  font-size: 15;
  margin: 0px;
     margin-top: 8px;
}

span.glyphicon.glyphicon-star {
   font-size: 15;
   margin: 0px;
   margin-top: 8px;
}

.form-header {
	margin-left: 15px;
	padding-top: 20px;
}