// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{padding-top:50px}#banner{border-bottom:none}.page-header h1{font-size:4em}.bs-docs-section{margin-top:8em}.bs-component{position:relative}.bs-component .modal{position:relative;top:auto;right:auto;left:auto;bottom:auto;z-index:1;display:block}.bs-component .modal-dialog{width:90%}.bs-component .popover{position:relative;display:inline-block;width:220px;margin:20px}#source-button{position:absolute;top:0;right:0;z-index:100;font-weight:bold}.progress{margin-bottom:10px}footer{margin:5em 0}footer li{float:left;margin-right:1.5em;margin-bottom:1.5em}footer p{clear:left;margin-bottom:0}.splash{padding:4em 0 2em;background-color:#1c2533;background:-webkit-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);background:-o-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);background:-ms-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);background:-moz-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);background:linear-gradient(20deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);background-attachment:fixed;color:#fff;text-align:center}.splash h1{font-size:4em}.splash #social{margin:2em 0}.splash .alert{margin:2em 0}.splash .bsa{max-width:350px;margin:0 auto;background:none}.splash .bsa .one .bsa_it_ad{border:1px solid #3e4653 !important;border-color:rgba(255,255,255,0.2) !important}.splash .bsa a{color:#fff}.section-tout{padding:4em 0 3em;border-top:1px solid rgba(255,255,255,0.1);border-bottom:1px solid rgba(0,0,0,0.1);background-color:#eaf1f1}.section-tout .fa{margin-right:.5em}.section-tout p{margin-bottom:3em}.section-preview{padding:4em 0 4em}.section-preview .preview{margin-bottom:4em;background-color:#eaf1f1;border:1px solid rgba(0,0,0,0.1);border-radius:6px}.section-preview .preview .image{padding:5px}.section-preview .preview .image img{border:1px solid rgba(0,0,0,0.1)}.section-preview .preview .options{text-align:center;padding:0 2em 2em}.section-preview .preview .options p{margin-bottom:2em}.section-preview .dropdown-menu{text-align:left}.section-preview .lead{margin-bottom:2em}@media (max-width:767px){.section-preview .image img{width:100%}}.sponsor img{border:1px solid rgba(0,0,0,0.1);border-radius:4px}.sponsor a:hover{text-decoration:none}.bsa{padding:0}.bsa .one .bsa_it_ad{border:none !important;background-color:transparent !important}.bsa .one .bsa_it_ad .bsa_it_t,.bsa .one .bsa_it_ad .bsa_it_d{color:inherit !important}.bsa .one .bsa_it_ad .bsa_it_i{margin-bottom:0 !important}.bsa .one .bsa_it_p{display:none}

.container {

	width: 100%;
	padding: 0px;
}
body {
	padding-top: 0px;
}

h5
	{
		padding: 0px;
		display:inline

	}
h4 {
	padding: 0px;
	margin: 0px;
}
p {
	margin-bottom: 4px;
	font-size: 1.0em;
}

 .navbar-form {

	margin-top: 5px !important;
	margin-bottom: 5px;
	border-top: 0px !important;
	border-bottom: 0px ;
	padding: 0px !important;
	display: block;

}
.navbar {
	border-radius: 0px;
	margin: 0px !important;
}

.navbar-brand {
	margin-right: 10px;
}

#map_icon {
  content: url(map.png);
  height: 25px;
  color: #FFFFFF;
  margin-top: 8px !important;
  margin-right: 10px !important;
  border: 0px;
}
.list-group{
	margin: 0px;
	width: 100%px  !important;
}


.list-group-item {
    background-repeat: no-repeat;
    background-size:cover;
    border-color: white;
}
.feed-item {
	 border-color: #CCCCCC;
	 margin-left: 2px;
	 margin-right: 2px;
	 margin-top: 2px;
	 padding: 0;
	 padding-left: 5px;
}

h6 {
	 color: black;
}

.cmu {
	background-image:
    	linear-gradient( to right,
	     	rgba(0, 0, 0, 0.75),
	     	rgba(0, 0, 0, 0.75)
    	),
    	url('cmu.jpg');
}

.craig {
	background-image:
    	linear-gradient( to right,
	     	rgba(0, 0, 0, 0.75),
	     	rgba(0, 0, 0, 0.75)
    	),
    	url('craig.jpg');
}

.thumbnail {

 	height: 100px;;
 	margin-left: -13px;
 	margin-right: 15px;
 	margin-top: -8px;
 	margin-bottom: 5px;
 	padding-bottom: 5px !important;

}

.check-in {
	position: relative;
	left: -1em;
	top: -7em;
	float: right;
	color:white;
}

.well {
	margin-top: 50px;
}


#search {
	border-radius: 0px !important;
	width: 190px;
}
#icon_cont {
	margin-right: 5px;
	border: 0px;
}

.glyphicon-remove-circle {
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 35px;
	color: red;
}

.glyphicon-star-empty {
	color: #cccccc;
	margin-top: 10px;
	font-size: 15px;
}
.glyphicon-star-full {
	font-size: 15px;
}
#filter {
	color: #ffffff;
	margin-top: 12px;
	margin-left: 25px;
	font-size: 25px;
}



.modal-body {
	padding-top: 3px;
}

button {
	box-shadow: none;
}



.col-centered {
    float: none;
    margin: 0 auto;
}

.dropdown-menu > li > a {
             text-align:center;
   }

.dropdown-menu > li {
     float: none !important;
   }

.nav-tabs>li {
    width:33%;
    text-align: center;
    padding: 0px;
}
.nav-tabs {
	padding-left: 5px;
	padding-right: 5px;
}

.nav-pills>li {
    width:100%;
    text-align: center;
}


.centerMe {
    left: auto !important;
    right: calc((100% / 2) - 80px) !important;
}

.col-md-8 {
	padding: 0px;
}


.title {
	padding-top: -15px;
	color: white;

}

.address {
    width: 250px;
}

.time {
	margin-right: 10px;
	margin-left: 0px;
	top: 13px !important;
	position: relative;
	right: -14px !important;
	padding: 5px;
}

#map-canvas {
	top: 0px !important;
	width: 100% !important;
	height: 400px !important;
	visibility: hidden;
}

.payment {
	right: -10px;
	position: relative;
	top: -25px;
	margin-left: 2px;
	background-color: #80B743;
	color: white;
}

.glyphicon.glyphicon-time{
 	margin-right: 3px;
}

.cont {
	font-size: 0px;
}

.popup
    {
        font-size:16px !important;
        width: 250px;
    }

/*.popup:before {
  font-family: "Glyphicons Halflings";
  content: "\e086";
}*/

#text{
	font-size: 16pt;
	width:100%
}

#picture{
	background-image:url("asianfood.jpg");
	background-size: cover;
	width: 100%;
	height: 200px;
}

#name{
	color: #f28500;
	font-size: 14pt;
	margin-left: 10px;
	width:100%;
	margin-bottom: 5px;
}

span#description{
	font-size: 14px;
	margin-left: 8px;
}

div#map-small{
	width: 100% !important;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
}

div#line-separator{
	height: 1px;
	background: #cccccc;
}

#restaurantopen{
	font-size: 14pt;
	margin-left: 8px;;
	margin-top: 20px;
	margin-bottom: 10px;
}

button.btn.btn-default{
	width:100%;
	font-size: 12pt;
	background-color: #f28500;
	a:link {color:White;}      /* unvisited link */
	a:visited {color:Purple;}  /* visited link */
	a:hover {color:White;}  /* mouse over link */
	a:active {color:Purple;}  /* selected link */
}

tbody{
	font-size: 12pt;
}

#tablestriping{

	text-align: left;
	padding-left: 10px;
	
}

#tablestriping-avatar{
	padding-left: 30px;
}





/* Circle Avatar Styles */

.circle {
	line-height: 0;		/* remove line-height */
	display: inline-block;	/* circle wraps image */
	margin: 5px;
  border: 1px solid rgba(255,255,255,0.4);
	border-radius: 50%;	/* relative value */
	/*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
	/*transition: linear 0.25s;*/
  height: 33px;
  width: 33px;
}
.circle img {
	border-radius: 50%;	/* relative value for
				   adjustable image size */
}
/*.circle:hover {
	transition: ease-out 0.2s;
  border: 2px solid rgba(255,255,255,0.9);
  -webkit-transition: ease-out 0.2s;
}
*/
a.circle {
  color: #cccccc
} 



.span.glyphicon.glyphicon-map-marker {
	padding: 0;
	margin: 0;
}

.small-circle{
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:0px solid #ccc;
    width:10px;
    height:10px;
 }
 
.green {
    background-color: green;
}

.red{
    background-color: red;
}



#restaurantaddress{
	margin-left: 8px;
	margin-right: -5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.price {
	font-size: 18px;
	margin: 10px;
}
.glyphicon.glyphicon-star {
	font-size: 15px;
	color: #F6870E;
}


div#restaurantaddress {
margin-bottom: -17px;
}

#rating {
	margin-left: 8px;
}

.btn-review {
	padding-top: 10px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the textalign */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    margin-bottom: 8px;
    margin-top: 8px;

}

p, span{
font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
font-weight: 300;
line-height: 1.1;
color: inherit;
}

.nostyle:hover{
	      text-decoration:none !important;
	      background-color: white !important;
}
span.glyphicon.glyphicon-cog {
	font-size: 25px;
	color: white;
	
}

.btn.btn-nav {
	
	margin-right: -20px;
	margin-top: 5px;
    color: #333333;
    background-image: linear-gradient(to bottom, #E99002, #E99002);
    text-decoration: none;
    background-position: 0;
    transition: none;

}

.navbar-default {
	background-color: #E99002;
	border-color: #E99002;
}

span.badge.glyphicon.glyphicon-user.pull-right.small-badge.time {
	margin-right: 3px;
}


.open {
	background-color: green;
	color: white;
	margin-right: 3px;
}

.closed {
	background-color: red;
	margin-right: 3px;
	color: white;
}
