
<p>
  <strong>Restaurant:</strong>
  <%= @restaurant_review.restaurant.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @restaurant_review.user %>
</p>

<p>
  <strong>Review:</strong>
  <%= @restaurant_review.review %>
</p>

<p>
  <strong>Rating:</strong>
  <% unless @restaurant_review.rating.nil? %>
    <%= @restaurant_review.rating.times do %>
     <span class="icon-star"></span>
    <%end%>
  <%end%>
</p>

<p>
  <strong>Date:</strong>
  <%= @restaurant_review.date %>
</p>

<%= link_to 'Edit', edit_restaurant_review_path(@restaurant_review) %> |
<%= link_to 'Back', restaurant_path(@restaurant_review.restaurant.id) %>
